In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("/Users/ohheungchan/workspace/AI_Study/dataset.csv", index_col=0)
df

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
y = df['trestbps']
y

age
63    145
37    130
41    130
56    120
57    120
     ...
57    140
45    110
68    144
57    130
57    130
Name: trestbps, Length: 303, dtype: int64

In [16]:
x = df.drop('trestbps' , axis=1)
x = x.drop('target' , axis=1)
x

     sex  cp  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
age
63     1   3   233    1        0      150      0      2.3      0   0     1
37     1   2   250    0        1      187      0      3.5      0   0     2
41     0   1   204    0        0      172      0      1.4      2   0     2
56     1   1   236    0        1      178      0      0.8      2   0     2
57     0   0   354    0        1      163      1      0.6      2   0     2
..   ...  ..   ...  ...      ...      ...    ...      ...    ...  ..   ...
57     0   0   241    0        1      123      1      0.2      1   0     3
45     1   3   264    0        1      132      0      1.2      1   0     3
68     1   0   193    1        1      141      0      3.4      1   2     3
57     1   0   131    0        1      115      1      1.2      1   1     3
57     0   1   236    0        0      174      0      0.0      1   1     2

[303 rows x 11 columns]

In [39]:
#Set x and y values
x_df=x
#normalization
x=(x_df-np.min(x_df))/(np.max(x_df)-np.min(x_df))

/Users/ohheungchan/anaconda3/lib/python3.10/site-packages/numpy/core/fromnumeric.py:84: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  return reduction(axis=axis, out=out, **passkwargs)
/Users/ohheungchan/anaconda3/lib/python3.10/site-packages/numpy/core/fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)
/Users/ohheungchan/anaconda3/lib/python3.10/site-packages/numpy/core/fromnumeric.py:84: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  return reduction(axis=axis, out=out, **passkwargs)

In [40]:
# train/test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=423)

In [41]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print(clf_dt.score(X_train, y_train))
print("----------predict----------")
print(pred_dt)

1.0
----------predict----------
[126. 132. 123. 160. 110. 102. 100. 120. 105. 140. 105. 178. 150. 118.
 130. 112. 115. 128. 112. 105. 138. 125. 125.  94. 140. 152. 140. 174.
 150. 170. 155. 120. 110. 128. 112. 128. 120. 172. 140. 120. 150. 112.
 102. 138. 140. 130. 120. 130. 110. 140. 132. 112. 140. 120. 132. 178.
 110. 172. 200. 135. 140.]

In [42]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 29.029662613874965

In [43]:
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(X_train, y_train)

pred_rf = rf_clf.predict(X_test)

print(rf_clf.score(X_train, y_train))
print("----------predict----------")
print(pred_rf)

0.850833116736079
----------predict----------
[127.25 136.62 125.48 123.65 132.97 125.26 138.47 129.96 121.88 127.83
 126.5  142.01 149.13 121.17 130.01 129.44 124.29 137.29 123.75 126.83
 131.21 133.74 139.39 126.5  128.68 139.52 141.61 132.26 139.1  139.13
 128.49 123.6  129.74 131.58 124.87 124.93 126.13 143.2  132.92 118.28
 132.44 131.11 122.61 131.   133.87 132.49 127.05 129.95 124.27 126.03
 132.43 122.27 131.14 122.12 134.09 149.77 134.84 146.18 137.01 138.65
 125.77]

In [44]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 20.050822312559557

In [45]:
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print(clf_lr.score(X_train, y_train))
print("----------predict----------")
print(pred_lr)

0.10882778518866454
----------predict----------
[130.78780961 136.2930913  136.63922714 127.75059462 128.17055631
 131.15298423 129.04653789 133.53361347 124.67809349 129.92655096
 125.55623609 139.24604423 138.31523425 124.4483637  130.80748569
 128.52928065 127.60010701 129.03750094 133.18226793 129.25016927
 125.05145313 133.63080036 139.42388197 126.74935661 126.56008904
 146.84285004 135.19650318 125.03922896 130.27365581 125.77838281
 128.33075428 128.46660234 134.65159217 123.94845427 125.65378144
 129.37344237 132.39633951 144.37754239 123.91693482 128.86097532
 130.81472884 128.84850645 131.51240999 131.14800965 129.68703722
 133.68281121 127.8523148  131.27273584 133.84042375 124.37242022
 142.67129259 129.8010457  129.48167948 129.51202476 132.03316938
 142.39812395 130.92934179 138.90357131 133.33139556 126.23691375
 123.96731721]

In [46]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.328408015578887

In [47]:
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print(clf_svm.score(X_train, y_train))
print("----------predict----------")
print(pred_svm)

0.05399044652309071
----------predict----------
[129.8027403  132.05702457 127.95212342 128.82414243 127.4768608
 130.17060169 129.64874999 130.80900941 128.3355009  130.30048489
 128.06860151 131.66126796 129.31089532 128.55547759 130.28851147
 129.45720328 127.9820466  130.23623615 130.63844531 129.82900178
 129.4493649  128.33002975 131.30183468 131.55059063 127.95560897
 133.40696743 131.52446798 128.16772901 127.65331147 131.0251472
 129.23917239 126.74577169 131.72623168 126.92115921 128.95582065
 128.48270323 130.00227456 130.06173877 127.24890766 129.92601442
 127.26561618 129.49495683 130.58172388 131.85437829 127.24196331
 131.98083671 127.49659734 129.80267621 127.73866159 127.93534843
 130.17037455 130.09471482 131.23824293 127.38838245 131.3633084
 130.59311195 127.25133049 132.30518126 127.32283812 131.36546949
 126.54524978]

In [49]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.49591686431822

In [53]:
from sklearn.neighbors import KNeighborsRegressor

In [54]:
knr = KNeighborsRegressor()
knr.fit(X_train , y_train)
pred_knr = knr.predict(X_test)
print(knr.score(X_train , y_train))
print("----------predict----------")
print(pred_knr)

0.32218997437391605
----------predict----------
[130.  139.4 126.2 132.6 118.8 130.8 142.4 125.2 124.  138.4 135.6 142.6
 114.  124.  132.6 124.8 131.6 138.  130.  128.6 124.2 130.8 142.2 139.6
 136.  130.2 148.  132.4 140.4 137.2 122.6 125.6 143.  134.8 127.2 129.6
 121.6 139.  134.4 131.8 129.8 117.2 126.2 130.6 136.6 126.4 119.2 124.
 113.  124.  133.  136.2 142.8 124.  142.8 129.4 128.  137.6 118.2 146.4
 124.4]

In [55]:
mse = np.sqrt(mean_squared_error(pred_knr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 20.810574235229552